.usage-container {
    margin: 0;
}
.header {
    margin: 0;
}
h2 {
    margin: 1rem;
}
h5 {
    margin: 1rem;
}
.intro-container {
    margin-left: 1.5rem;
}
table {
    margin-left: 60px;
    max-width: 900px;
}
.navbar-brand {
    margin-left: 70px;
}
.nav-link {
    font-size: 1.25rem;
}
.navbar {
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 1rem center;
}
#image-container {
    margin-top: -140px;
    margin-left: 80px;
}